<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div formGroupName="userData">
          <div class="form-group">
            <label for="username">Username</label>
            <input
              type="text"
              id="username"
              formControlName="username"
              class="form-control"
            />
            <div
              *ngIf="username?.touched && username?.errors?.required"
              class="help-block"
            >
              User name not entered or invalid
            </div>
            <div
              *ngIf="username?.touched && username?.errors?.forbidNames"
              class="help-block"
            >
              Blasphemy! You have entered a forbidden name. Replace with a name
              that is allowed.
            </div>
          </div>
          <div class="form-group">
            <label for="email">email</label>
            <input
              type="text"
              id="email"
              formControlName="email"
              class="form-control"
            />
            <div *ngIf="email.invalid && email.touched" class="help-block">
              Email not entered or invalid
            </div>
          </div>
        </div>

        <div class="radio" *ngFor="let gender of genders">
          <label>
            <input type="radio" formControlName="gender" [value]="gender" />{{
              gender
            }}
          </label>
        </div>

        <div formArrayName="hobbies">
          <h4>Your hobbies</h4>
          <button class="btn btn-default" type="button" (click)="onAddHobby()">
            Add hobby
          </button>
          <div
            class="form-group"
            *ngFor="let hobbyControl of hobbies.controls; let i = index"
          >
            <input type="text" class="form-control" [formControlName]="i" />
          </div>
        </div>

        <div
          *ngIf="signupForm.invalid && signupForm.touched"
          class="help-block"
        >
          Please enter valid form data
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
    </div>
  </div>
</div>
